*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #92A8D1;
}
img{
    border: 4px solid #ddd;
    border-radius: 2px;
    width: 300px;
    float: left;
}
